@page
@model Crypton.Pages.Testing.TestModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h4>Test</h4>
    <hr />
    

    <form method="post">        
        <input type="submit" value="Test" class="btn btn-default" /> |
        <a asp-page="./Test">Back to Test</a>
    </form>
</div>